page-faread-detail {
    font-family: 'SourceSansPro';
	// detail header
	.detail-img{
		position:absolute;
		top:0;
		left:0;
		width : 100%;
		height : 25rem;
		z-index:0;
	}
	.detail-layer{
		height:25rem;
		// margin-bottom:1rem;
	}
	.detail-title{
		font-size:2rem;
		font-weight:bold;
		letter-spacing:2px;
	}
	.detail-title-by,.detail-title-tgl{
		letter-spacing:1px;
		display:block;
		font-size:1.2rem;
		color:#999;
	}
	.detail-title-by{
		float:left;
	}
	.detail-title-tgl{
		text-align:right;
	}
	.detail-content{
		letter-spacing:1px;
		line-height:2.2rem;
	}
}
