page-bantuan {
	.button-md{
		text-transform: capitalize;
		font-weight:bold;
	}
	.button-ios{
		text-transform: capitalize;
		font-weight:bold;
	}
	.title-bantuan{
		font-size:1.6rem;
	}
	// result
	.result-header h4{
		font-size:1.6rem;
	}
	.result-header{
		border:none;
	}
}
